.body{
    text-align: center;
    text-decoration: dashed;
    text-shadow: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.a{
    background-color:rgba(0, 0, 0, 0.979);
    color: aliceblue;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.h1{
    color: black;
}
.c{
    background-color:rgb(10, 10, 10);
    color: aliceblue;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.b{
    background-color:rgb(11, 12, 12);
    color:aliceblue;
    text-align: center;
    float: right;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.d{
    background-color:rgb(11, 12, 10);
    color: aliceblue;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.e{
    background-color:rgb(12, 12, 12);
    color: aliceblue;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.f{
    background-color:rgb(10, 10, 10);
    color: aliceblue;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.g{
    background-color:rgb(13, 13, 14);
    color: aliceblue;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.h{
    background-color:rgb(15, 15, 14);
    color: aliceblue;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.i{
    background-color:rgb(17, 16, 16);
    color: aliceblue;
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.flip{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.a:hover .flip{
    transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
}

.back{
    background-color: rgb(6, 7, 7);
    color: rgb(25, 253, 234);
    transform: rotateY(180deg);
}
.front{
    background-color: rgba(83, 113, 121, 0.959);
}
.b:hover .flip{
    transform: rotateY(-180deg);
}
.c:hover .flip{
    transform: rotateY(-180deg);
}
.d:hover .flip{
    transform: rotateY(180deg);
}
.e:hover .flip{
    transform: rotateY(180deg);
}
.f:hover .flip{
    transform: rotateY(-180deg);
}
.g:hover .flip{
    transform: rotateY(180deg);
}
.h:hover .flip{
    transform: rotateY(-180deg);
}
.i:hover .flip{
    transform: rotateY(-180deg);
}
.p{
    color: white;
}
